.slider-images {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slider-hero {
    display: flex;
}

.slider-img {
    width: 100%;
    height: auto;
    display: none;  /* Hide images by default */
}

.slider-img.active {
    display: block;  /* Show the active image */
}
/* ------------------------------------------------other styles------------------------------------------------------------------------------------- */
#villa_image{
    height: 1036px;
}

#about_sec_bg{

    background: url("https://static01.nyt.com/images/2015/05/09/world/09BRAZIL/09BRAZIL-superJumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mission_icon{

    filter: invert(1) brightness(100%) !important;
    height: 45px;
    width: 45px;
}
.banner_image{

    width: 649px;
    height: 939px;
}
.service_icons{

    height: 64px;
    width: 67px;
    filter: sepia(1) saturate(2) hue-rotate(-50deg);
}

#video_banner_image {
    filter: brightness(0.6) contrast(1.2);
}
#event_images{

    width: 200px;
    height: 200px;
}
#pricing_images{

    height: 285px;
    width: 285px;
}